<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <h1 class="display-8 text-left text-md-left mb-1">
        <strong class="text-title">Canadian Prison Observer</strong>
      </h1>
      <!-- Text -->
      <p class="lead text-left text-md-left text-muted">
        <small>Revealing the scope and form of the carceral state, dot ca.</small>
      </p>
    </a>
    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
          <a class="nav-link" href="/reports.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reports</a>
          <div class="dropdown-menu dropdown-menu-single">
            <a href="/overall-trends.html" class="dropdown-item">Overall trends</a>
            <a href="/provincial-reports.html" class="dropdown-item">Provincial reports</a>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
          <a class="nav-link" href="/reports.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data</a>
          <div class="dropdown-menu dropdown-menu-single">
            <a href="/interactive-prison-data.html" class="dropdown-item">Interactive prison data</a>
            <a href="/carceral-capacity.html" class="dropdown-item">Carceral capacity</a>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/about.html">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
