{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
        <h3 class="display-4 text-left text-md-left mb-3">
          <strong class="text-primary">State of Affairs</strong>
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
        <h3 class="display-8 text-left text-md-left mb-3">
          <strong class="text-primary">Featured report 1</strong>
        </h3>
        <!-- Image -->
        <figure class="w-100">
          <img alt="CPO logo" src="/static/assets/img/svg/illustrations/placeholder.svg" class="img-fluid mw-md-120">
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
        <h3 class="display-8 text-left text-md-left mb-3">
          <strong class="text-primary">Featured report 2</strong>
        </h3>
        <!-- Image -->
        <figure class="w-100">
          <img alt="CPO logo" src="/static/assets/img/svg/illustrations/placeholder.svg" class="img-fluid mw-md-120">
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
        <h3 class="display-8 text-left text-md-left mb-3">
          <strong class="text-primary">Featured report 3</strong>
        </h3>
        <!-- Image -->
        <figure class="w-100">
          <img alt="CPO logo" src="/static/assets/img/svg/illustrations/placeholder.svg" class="img-fluid mw-md-120">
        </figure>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
