{% extends "layouts/base.html" %}

{% block title %} About {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<section class="slice py-8">
  <div class="container py-5">
    <div class="row row-grid align-items-center">
      <div class="col-lg-8 text-center text-lg-left">
        Canadian Prison Observer is an organization dedicated to
        revealing the scope and shape of the carceral system in
        Canada. We gather data from various government and
        non-government sources to provide the public with digestable
        information. We are not associated with any governmental entity.
        <!-- Buttons -->
        <div class="mt-5">
          <a href="/contact.html" class="btn btn-secondary btn-lg btn-icon">
            <span class="btn-inner--text">Contact us</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
