{% extends "layouts/base.html" %}

{% block title %} Contact {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<section class="slice py-6 pt-lg-7 pb-lg-8">
  <!-- Container -->
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-lg-6">
        Questions, comments, and information should be directed to us via email.
        <!-- Buttons -->
        <div class="mt-5 text-center text-lg-left">
          <a href="mailto:info@prisonobserver.ca" data-scroll-to class="btn btn-secondary btn-lg btn-icon">
            <span class="btn-inner--text">Email us</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
