{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<section class="slice py-1">
  <div class="container mb-6">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <h2 class="display-6 text-left text-md-left mb-0">
          <strong class="text-primary">Learn about</strong>
        </h2>
      </div>
    </div>
    <div class="row row-grid align-items-center mt-1">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-left">
        The <a href="/reports/growing-incarceration-rates-in-the-prairies">growing incarceration rates</a> in the prairies.
        <a href="/reports/growing-incarceration-rates-in-the-prairies">
          <img width=400 src="static/assets/img/reports/growing-incarceration-rates-in-the-prairies.png">
        </a>
      </div>
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-left">
        Growth in the <a href="/reports/womens-admissions-to-provincial-custody-in-the-prairies">number of women admitted to prison</a> in the prairies
        <a href="/reports/womens-admissions-to-provincial-custody-in-the-prairies">
          <img width=400 src="static/assets/img/reports/womens-admissions-to-provincial-custody-in-the-prairies.png">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
        <h2 class="display-6 text-left text-md-left mb-0">
          <strong class="text-primary">Explore</strong>
        </h2>
      </div>
    </div>

    <div class="row row-grid align-items-center mt-1">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-left">
        Historical <a href="/data/compare-provinces-in-a-year-interactive">data
        on incarceration</a> within and between provinces
        <a href="/data/compare-provinces-in-a-year-interactive">
          <img width=400 src="static/assets/img/data/compare-provinces-in-a-year-interactive.png">
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
