{% extends "layouts/base.html" %}

{% block title %} Provincial Reports {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
        <h3 class="display-4 text-left text-md-left mb-3">
          <strong class="text-primary">Provincial Reports</strong>
        </h3>
      </div>
    </div>
  </div>
</section>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
