{% extends "layouts/base.html" %}

{% block title %} Reports {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <h2 class="display-6 text-left text-md-left mb-3">
          <strong class="text-primary">Reports</strong>
        </h2>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <h3 class="text-left text-md-left mb-3">
          <strong class="text-primary">Regional incarceration</strong>
        </h3>
        <ul>
          <li><a href="/reports/growing-incarceration-rates-in-the-prairies">Growing Incarceration Rates in the Prairies</a>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <h3 class="text-left text-md-left mb-3">
          <strong class="text-primary">Indigenous incarceration</strong>
        </h3>
        <ul>
          <li><a href="/reports/growing-incarceration-rates-in-the-prairies">Growing Indigenous Incarceration in the Prairies</a>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <h3 class="text-left text-md-left mb-3">
          <strong class="text-primary">Carceral capactiy</strong>
        </h3>
        <ul>
          <li><a href="/reports/carceral-capacity">National carceral capacity</a>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
