{% extends "layouts/base.html" %}

{% block title %} Resources {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Main content -->
<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-left">
      <div class="col-12 col-md-5 col-lg-6 order-md-2 text-left">
        <h2 class="display-6 text-left text-md-left mb-3">
          <strong class="text-primary">Resources</strong>
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="slice py-1">
  <div class="container">
    <div class="row row-grid align-items-left">
      <div class="col-12 col-md-5 col-lg-12 order-md-2 text-left">
        <h3 class="display-7 text-left text-md-left mb-3">
          <strong class="text-primary">National</strong>
        </h3>

        <ul class="list-group-flush">
          <li class="list-group-item-secondary">
            <a href="https://www.statcan.gc.ca">Statistics Canada / Statistique Canada (StatCan)</a> is the national statistical office
          </li>
          <li class="list-group-item-secondary">
            StatCan release of the <a href="https://www150.statcan.gc.ca/n1/pub/85-002-x/2019001/article/00010-eng.htm">Adult and youth correctional statistics in Canada, 2017/2018</a>
          </li>
          <li class="list-group-item-secondary">
            StatCan <a href="https://www23.statcan.gc.ca/imdb/p2SV.pl?Function=getSurvey&SDDS=5251">Canadian Correctional Services Survey</a> (CCSS)
          </li>
          <li class="list-group-item-secondary">
            StatCan Correctional services statistics: <a href="https://www150.statcan.gc.ca/n1/pub/71-607-x/71-607-x2019018-eng.htm">Interactive dashboard</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
